@using DevExtremeAspNetCoreApp1.Models

<h3>Calculator</h3>
<head>
    <script src="~/js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css">
</head>
<body>
    <div class="form">

        <form id="texBox">
            @(Html.DevExtreme().TextBox()
                .ID("textBox1")
                .Height(150)
                .Width(328)
            )
        </form>
        <table>
            <tr class="button">
                <td>
                    @(Html.DevExtreme().Button()
                                .ID("buttonX")
                                .Text("*")
                                .Width(80)
                                .Height(80)
                                .OnClick("masuk")
                                .Type(ButtonType.Default)
                        .StylingMode(ButtonStylingMode.Outlined)
                    )
                </td>
                <td>
                    @(Html.DevExtreme().Button()
                            .ID("button/")
                            .Text("/")
                            .Width(80)
                            .Height(80)
                            .OnClick("masuk")
                            .Type(ButtonType.Default)
                        .StylingMode(ButtonStylingMode.Outlined)
                    )
                </td>
                <td>
                    @(Html.DevExtreme().Button()
                            .ID("button+")
                            .Text("+")
                            .Width(80)
                            .Height(80)
                            .OnClick("masuk")
                            .Type(ButtonType.Default)
                        .StylingMode(ButtonStylingMode.Outlined)
                    )
                </td>
                <td>
                    @(Html.DevExtreme().Button()
                            .ID("buttonk")
                            .Text("-")
                            .Width(80)
                            .Height(80)
                            .OnClick("masuk")
                            .Type(ButtonType.Default)
                        .StylingMode(ButtonStylingMode.Outlined)
                    )
                </td>
            </tr>
            <tr class="button">
                <td>
                    @(Html.DevExtreme().Button()
                                .ID("button9")
                                .Type(ButtonType.Default)
                        .StylingMode(ButtonStylingMode.Contained)
                                .Text("9")
                                .Width(80)
                                .Height(80)
                                .OnClick("masuk")
                    )
                </td>
                <td>
                    @(Html.DevExtreme().Button()
                            .ID("button8")
                            .Text("8")
                            .Width(80)
                            .Height(80)
                            .OnClick("masuk")
                            .Type(ButtonType.Default)
                        .StylingMode(ButtonStylingMode.Contained)
                    )
                </td>
                <td>
                    @(Html.DevExtreme().Button()
                            .ID("button7")
                            .Text("7")
                            .Width(80)
                            .Height(80)
                            .OnClick("masuk")
                            .Type(ButtonType.Default)
                        .StylingMode(ButtonStylingMode.Contained)
                    )
                </td>
                <td>
                    @(Html.DevExtreme().Button()
                            .ID("buttonkc")
                            .Text("C")
                            .Width(80)
                            .Height(80)
                            .OnClick("c")
                            .Type(ButtonType.Default)
                        .StylingMode(ButtonStylingMode.Outlined)
                    )
                </td>
            </tr>

            <tr class="button">
                <td>
                    @(Html.DevExtreme().Button()
                                .ID("button6")
                                .Text("6")
                                .Width(80)
                                .Height(80)
                                .OnClick("masuk")
                                .Type(ButtonType.Default)
                        .StylingMode(ButtonStylingMode.Contained)
                    )
                </td>
                <td>
                    @(Html.DevExtreme().Button()
                            .ID("button5")
                            .Text("5")
                            .Width(80)
                            .Height(80)
                            .OnClick("masuk")
                            .Type(ButtonType.Default)
                        .StylingMode(ButtonStylingMode.Contained)
                    )
                </td>
                <td>
                    @(Html.DevExtreme().Button()
                            .ID("button4")
                            .Text("4")
                            .Width(80)
                            .Height(80)
                            .OnClick("masuk")
                            .Type(ButtonType.Default)
                        .StylingMode(ButtonStylingMode.Contained)
                    )
                </td>
                <td>
                    @(Html.DevExtreme().Button()
                            .ID("buttonpang")
                            .Text("%")
                            .Width(80)
                            .Height(80)
                            .OnClick("masuk")
                            .Type(ButtonType.Default)
                        .StylingMode(ButtonStylingMode.Outlined)
                    )
                </td>
            </tr>
            <tr class="button">
                <td>
                    @(Html.DevExtreme().Button()
                                .ID("button3")
                                .Text("3")
                                .Width(80)
                                .Height(80)
                                .OnClick("masuk")
                                .Type(ButtonType.Default)
                        .StylingMode(ButtonStylingMode.Contained)
                    )
                </td>
                <td>
                    @(Html.DevExtreme().Button()
                            .ID("button2")
                            .Text("2")
                            .Width(80)
                            .Height(80)
                            .OnClick("masuk")
                            .Type(ButtonType.Default)
                        .StylingMode(ButtonStylingMode.Contained)
                    )
                </td>
                <td>
                    @(Html.DevExtreme().Button()
                            .ID("button1")
                            .Text("1")
                            .Width(80)
                            .Height(80)
                            .OnClick("masuk")
                    .Type(ButtonType.Default)
                        .StylingMode(ButtonStylingMode.Contained)
                    )
                </td>
                <td rowspan=5>
                    @(Html.DevExtreme().Button()
                            .ID("buttonsam")
                            .Text("=")
                            .Width(80)
                            .Height(160)
                            .OnClick("samadengan")
                            .Type(ButtonType.Default)
                        .StylingMode(ButtonStylingMode.Outlined)
                    )
                </td>

            </tr>

            <tr class="button">
                <td>
                    @(Html.DevExtreme().Button()
                                .ID("buttonhap")
                                .Text("<")
                                .Width(80)
                                .Height(80)
                                .OnClick("hapus")
                                .Type(ButtonType.Default)
                        .StylingMode(ButtonStylingMode.Outlined)
                    )
                </td>
                <td>
                    @(Html.DevExtreme().Button()
                            .ID("button0")
                            .Text("0")
                            .Width(80)
                            .Height(80)
                            .OnClick("masuk")
                            .Type(ButtonType.Default)
                        .StylingMode(ButtonStylingMode.Contained)
                    )
                </td>
                <td>
                    @(Html.DevExtreme().Button()
                            .ID("buttonkom")
                            .Text(".")
                            .Width(80)
                            .Height(80)
                            .OnClick("masuk")
                            .Type(ButtonType.Default)
                        .StylingMode(ButtonStylingMode.Outlined)

                    )
                </td>
            </tr>
    </div>
    </table>
</body>

